tr.table-row td {
  cursor: default;
  z-index: 8;
  width: 3rem;
  border: none; 
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;

  & span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    max-width: 18.75rem;
    width: 100%;
    display: block;
  }
}
